In [1]:
import pandas as pd


orders = pd.read_csv('data/orders.csv', sep=';')
products = pd.read_csv('data/products.csv', sep=';')

display(orders.head(), products.head())

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5

   Product_ID                      Name  Price CURRENCY
0          47      Шатны Полосатый рейс   2999      RUR
1          51  Платье Аленький цветочек   4999      RUR
2          53    Штаны Цветочная Поляна   4999      RUR
3          71       Платье Ночная Жизнь   7999      RUR
4          74  Платье Ночная Жизнь XXXL   8999      RUR

In [2]:
orders_products = orders.merge(
    products,
    how='left',
    left_on='ID товара',
    right_on='Product_ID'
)
orders_products.head()

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR

In [5]:
# 8.8
orders_products[orders_products['Name'].isnull()]['Order ID']

17    0
Name: Order ID, dtype: int64

In [8]:
# 8.9
orders_products[orders_products['Отменен'] == 'Да']['Name'].iloc[0]

'Носки беговые Camino'

In [22]:
# 8.10
mask_ispaid = orders_products['Оплачен'] == 'Да'
orders_products['Прибыль'] = orders_products[mask_ispaid]['Price'] * orders_products[mask_ispaid]['Количество']
income_list = orders_products.pivot_table(
    values='Прибыль',
    index='ID Покупателя',
    aggfunc='sum'
)
display(income_list)
display(orders_products.groupby('ID Покупателя')['Прибыль'].sum())

               Прибыль
ID Покупателя
1                  0.0
5              13043.0
7              17096.0
8               1344.0
9                  0.0
10                 0.0

ID Покупателя
1         0.0
5     13043.0
7     17096.0
8      1344.0
9         0.0
10        0.0
Name: Прибыль, dtype: float64